# **Data Types**
Now that you know a little bit about how Python works, let's take a closer look at the types of data Python variables can handle.

## **Integers**
You've already seen an example of integer (whole number) variables in Python.

In [1]:
my_int = 3

Integers can be added, subtracted, multiplied, and divided.

In [7]:
print(my_int + 3)
print(my_int - 5)
print(my_int * 3)
print(my_int / 2)

6
-2
9
1.5

Another common type of operator we can use is the **equality-assignment operators**.

In [8]:
my_int = 3

# This is the same as writing my_int = my_int + 2
my_int += 2

print(my_int)

5

## **Floats**
Floats hold numbers that include decimals. They support the same operations as integers.

In [3]:
my_float = 3.14159

print(my_float + 3)
print(my_float - 5)
print(my_float * 3)
print(my_float / 2)

6.14159
-1.8584100000000001
9.424769999999999
1.570795

## **Booleans**

Boolean variables hold a value that is either true or false.

In [4]:
my_bool = True

print(my_bool)
print(not my_bool)

True
False

Boolean variables often come up as the result of a **conditional statement**.

In [6]:
my_bool = 3 > 2
print(my_bool)

my_bool = 3 < 2
print(my_bool)

True
False

## **Strings**
Strings hold text and can be marked with either a single quote (') or double quote (").

In [9]:
my_string = "Hello, world!"
print(my_string)

my_string += " How are you doing today?"
print(my_string)

Hello, world!
Hello, world! How are you doing today?

## **Lists**
Lists hold several values in a single variable.

In [11]:
my_list = [1, 2, 4]
print(my_list)

my_list.append(5)
print(my_list)

my_list.append("hi")
print(my_list)

[1, 2, 4]
[1, 2, 4, 5]
[1, 2, 4, 5, 'hi']

#### **Exercise 1**
Create a list containing an integer, a float, and a string.

<details>
  <summary>Show answer</summary>
      <pre style="background-color: honeydew; padding: 10px; border-radius: 5px;"><code style="background: none;">my_list = [1, 1.01, "hello"]</code></pre>
</details>

In [12]:
# TODO: Exercise 1

## **Summary**
In this lesson we learned about the main data types in Python. 

- Integers, for whole numbers
- Floats, for decimal numbers
- Strings, for text
- Lists, for collections of values

To see a complete list of data types, refer to the [W3Schools Tutorial](https://www.w3schools.com/python/python_datatypes.asp). 

Next, we'll learn more about structures for control flow and logic in our programs.

[Next Lesson](<./4. Logical Structures.ipynb>)